body{
    margin: 0;
    background-color: rgb(255, 236, 236);
    align-items: center;
}
ul{
    padding: 0;
}
.header{
    width: 100%;
    position: fixed;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;  
}

.main{
    margin-left:4px;
    color: purple;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 8px
}
.linklist{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap:8px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification{
    display: flex;
    justify-content: space-between;
    gap:8px;
    padding-right:4px;
}